* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;

}
img{
    width: 50%;
    height: 650px;
}
form {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    background: rgba(195, 189, 189, 0.5);
    border-radius: 10px;
    box-shadow:  5px 10px 15px 5px #888888;
}

input {
    background: none;
}


input[type="text"],
[type="password"] {
    background: none;
    position: absolute;
    outline: none;
    margin-top: 5px;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid rgb(236, 126, 58);
    padding: 5px;
    color: rgb(95, 95, 95);
    cursor: pointer;
}

label {
    background: none;
}

h2 {
    background: none;
    color: rgb(236, 126, 58);
    /* text-align: center; */
    position: absolute;
    top: 30PX;
    left: 140px;
}

input[type="text"] {
    top: 100px;
    left: 50px;

}

input[type="password"] {
    top: 170px;
    left: 50px;


}

input[value="login"] {
    position: absolute;
    top: 300px;
    bottom: 50;
    width: 130px;
    height: 35px;
    outline: none;
    border: none;
    background-color: rgb(236, 126, 58);
    /* border-radius: 10px; */
    color: rgb(95, 95, 95);
    font-size: 15px;
    left: 110px;
    cursor: pointer;
}
::placeholder{
    color: rgb(95, 95, 95);
}
input[value="login"]:hover{
    /* background: transparent; */
    color: rgb(236, 126, 58);
   background-color:  rgb(95, 95, 95) ; 
}
input[type="checkbox"]{
    position: absolute;
    top:250px;
    left: 50px;
    color: rgb(95, 95, 95);
    cursor: pointer;
}
label{
    position: absolute;
    top:245px;
    left: 70px;
    color: rgb(95, 95, 95);
    cursor: pointer;

}
label:hover{
    color: rgb(236, 126, 58);
    
}
input [type=text]:focus{
    background-color: beige;
    border: none;

}
button{
    position: relative;
    top: 370px;
    left: 50px;
    width: 130px;
    height: 35px;
    outline: none;
    border: none;
    background: rgba(195, 189, 189, 0.5);
     border-radius: 10px; 
    color: rgb(95, 95, 95);
    font-size: 15px;
    left: 110px;
    cursor: pointer; 

}
button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
button:hover{
    background-color: rgb(236, 126, 58);
    color: #fff;
}